<form action="/galleries/<%= @gallery.id %>/image/new" method="POST">

  <label for="image_name">Image Name</label>
  <input type="text" name="image[name]" value="" />

  <label for="image_URL">Image URL</label>
  <input type="text" name="image[url]" value="" />

  <br />

  <input type="submit" value="Add Image" />
</form>






